*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #E8D272;
    --padding-10: 10px; /*does not make a lot of sence this variable but for learning*/
    /* This css is kind of short to use many variables but i used 2*/
}

nav{
    background-color: #72B7E8;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    background-color: var(--background-color);
    display: block;
    padding: var(--padding-10);
    text-decoration: none;
    font-weight: 700;
}

h1{
    color: var(--background-color);
    border-bottom: 1px solid black;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px #DAE7F0;
    float: right;
}

p{
    padding: 0;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 660px;
    left: 75px;
}

/* Class Selectors */

.box{
    border: 1px solid rgb(0, 0, 0 / 10%);
    margin: 1rem;
    padding: 1rem;
    background-color: #72B7E8;
    color: gray;
}