body{
background-color: white;
display: flex;
align-items: center;
margin: auto;
padding: 2rem;
font-family: Arial, Helvetica, sans-serif;
flex-direction: column;
}

header{
background-color: black;
color: white;
width: auto;
text-align: center;
padding: .5rem;
}

header p{
    margin: auto;
}

main h1 {
width: auto;
text-align: center;
}

main image{
width: 100%;
height: auto;
box-shadow:  10px 25px rgba(0, 0, 0, 0.2);
}

main picture{
    display: block;
    margin-bottom: 2rem;
}

main section{
background-color: #eeeeee;
padding: 1.5rem;
text-align: left;
}

main section h2{
color: #000;
margin-top: 0;
margin-bottom:.75rem ;
padding-bottom: .5rem;
border-bottom: 2px solid black;
}

main section a{
color: #0056b3;
text-decoration: none;
}
main section p{
    margin-bottom: .5rem;
}

ul{
list-style-type: disc;
padding-left: 1.5rem;
margin-top: .5rem;
margin-bottom: .5rem;
}

footer{
background-color: #000;
color: white;
padding: 1rem;
text-align: center;
width: auto;
}

footer p{
margin: 0;

}